.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/

landmarks_cache/
src/airletters/data/hand_landmarker.task
checkpoints/*
# logs/*
# outputs/*
tmp/

videos/
train.csv
val.csv
test.csv
